<div class="container mt-5">
  <h1 class="display-4 text-center text-pink">Sobre Nós</h1>
  <p class="lead text-center text-pink">A magia da beleza feminina!</p>
  <div class="mt-4">
      <p>
          Fundada por mulheres apaixonadas pela beleza, nossa loja de cosméticos surgiu com o objetivo de empoderar cada mulher a se sentir única e confiante. Desde o início, nossa missão é oferecer produtos de alta qualidade que realcem a beleza natural de cada cliente.
      </p>
      <p>
          Com uma ampla seleção de esmaltes vibrantes, maquiagens deslumbrantes e produtos inovadores para cabelo, buscamos sempre trazer as últimas tendências do mundo da beleza. Nossos produtos são cuidadosamente selecionados para garantir que você tenha a melhor experiência de beleza possível.
      </p>
      <p>
          Junte-se a nós nessa jornada de beleza e descubra como é fácil se sentir linda e confiante todos os dias!
      </p>
  </div>
</div>

<style>
  .text-pink {
      color: #ff69b4; 
  }
</style>
